.app {
    height: 720px;
    width: 1280px;
    margin: auto;
    position: relative;
}

body {
    margin: 0;
}

.player {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.player__rewind {
    /* opacity: 0; */
    height: 18px;
    margin-bottom: 12px;
    position: relative;
}

.player__rewind__bar {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: cornflowerblue;
}

.player__rewind__cursor {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: white;
    right: 0;
}

.player__controls {
    padding: 8px 8px 16px 8px;
    text-align: center;
    position: relative;
    z-index: 100;
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-family: sans-serif;
    font-variant: small-caps;
}

.player__button {
    display: inline-block;
    cursor: pointer;
    letter-spacing: 1px;
}

.player__button:hover {
    color: #ff6b68;
}

.player__backward{
    margin-left: 30px;
}

.player__play{
    padding: 0 8px;
    width: 52px;
}

.player__forward{
}